<launch>

    <node name = "rqt_client" pkg = "rqt_gui" type = "rqt_gui"
          args="--perspective-file $(find px4_code2)/rviz/client.perspective" output="screen">
        <rosparam param="/drone_name_set">[target1]</rosparam>
        <rosparam param = "/world_frame_id">"map" </rosparam>
        <rosparam param="/qt_setting_dir" subst_value="True">$(find px4_code2)/qt_settings/setting.ini</rosparam>
    </node>


    <node  name="rviz" pkg="rviz" type="rviz" args="-d $(find px4_code2)/rviz/client.rviz"/>



</launch>



